.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 50px auto;
}

.left-column {
    display: inline-grid;
    grid-column: 1;
    grid-row: span 2;
}

.right-column {
    display: inline-grid;
    grid-column: 3;
    grid-row: span 2;
}

    .left-column > h2, .right-column > h2 {
        text-align: center;
    }

    .left-column > ul, .right-column > ul {
        list-style-type: none;
        border: 1px solid black;
    }





.grid-item {
    grid-column: main
}
